@{
    ViewData["Title"] = "Gracias";
}
<h1>Gracias por contactarte conmigo</h1>
<p>Te contestaré lo más pronto posible.</p>
<div class=""><a asp-action="Index" asp-controller="Home">Volver a la pagína principal</a></div>
